
<ion-content>

  <form [formGroup]="formulario" (submit)="cadastrar()" >

    <div *ngIf="!segundoCadastro">

      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input type="text" formControlName="nome" #nome></ion-input>
        <ion-note *ngIf="formulario.controls.nome.touched" slot="error">
          <span *ngIf="formulario.controls.nome.errors?.['required']"><ion-icon name="alert-outline"></ion-icon> Nome é obrigatório</span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email"  formControlName="email" #email></ion-input>
        <ion-note *ngIf="formulario.controls.email.touched" slot="error">
          <span *ngIf="formulario.controls.nome.errors?.['required']"><ion-icon name="alert-outline"></ion-icon> Email é obrigatório</span>
          <span *ngIf="formulario.controls.nome.errors?.['email']"><ion-icon name="alert-outline"></ion-icon> Email inválido</span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password"  formControlName="senha" #senha></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmação de senha</ion-label>
        <ion-input type="password" formControlName="senhaConf" #senhaConf></ion-input>
        <ion-note *ngIf="formulario.controls.nome.senhaConf" slot="error">
          <span *ngIf="erroSenhaConf"><ion-icon name="alert-outline"></ion-icon>Senhas devem ser iguais</span>
        </ion-note>
      </ion-item>
      
      <ion-button (click)="verificaCadastro(formulario.value)">Avançar</ion-button>
    
    </div>

    <div *ngIf="segundoCadastro">        
      <div style="height:100px">
        <ion-avatar>
          <ion-img  class="avatar-img" [src]='imgUrl ? imgUrl : "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"'></ion-img>
        </ion-avatar> 
        <label for="files">
          <ion-icon name="camera" size="large"></ion-icon>
          <input type="file" id="files" name="files[]" (change)="processaArquivo($event)" style="display:none" />
        </label>
      </div>          

      <ion-item>
        <ion-label position="floating">Especialização</ion-label>

        <ion-select formControlName="especializacao">
          <ion-select-option *ngFor="let especializacao of especializacoes">{{especializacao}}</ion-select-option>
        </ion-select>
        <ion-note *ngIf="formulario.controls.especializacao.touched" slot="error">
          <span *ngIf="formulario.controls.especializacao.errors?.['required']"><ion-icon name="alert-outline"></ion-icon> Especialização é obrigatória</span>
        </ion-note>
      </ion-item>

        <ion-item>
          <ion-label position="floating">Idade</ion-label>
          <ion-input type="number"  formControlName="idade" #idade></ion-input>
          <ion-note *ngIf="formulario.controls.idade.touched" slot="error">
            <span *ngIf="formulario.controls.idade.errors?.['required']"><ion-icon name="alert-outline"></ion-icon> Idade é obrigatória</span>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Região</ion-label>
          <ion-input type="text"  formControlName="regiao"></ion-input>
          <ion-note *ngIf="formulario.controls.regiao.touched" slot="error">
            <span *ngIf="formulario.controls.regiao.errors?.['required']"><ion-icon name="alert-outline"></ion-icon> Região é obrigatória</span>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Descrição</ion-label>
          <ion-textarea formControlName="descricao" cols="30" rows="10"></ion-textarea>
        </ion-item>
    
      <ion-button type="submit">Registrar</ion-button>
    
    </div>
    
</form>

</ion-content>
