<ion-content >
    <div style="display: flex;">
<ion-list style="width: 60%;">
    <ion-list-header>
        Horas de treino
    </ion-list-header>
    <ion-item *ngFor="let Semana of Semanas" [id]="Semana.id" >
        <ion-button (click)="alteraTreino(Semana)" [queryParams]="{semana: Semana.id}">{{Semana.nome}}</ion-button>
    </ion-item>
</ion-list>

<div style="width: 40%;" *ngIf="aluno">
    <div >
        <div>
          <ion-card class="center hide-card">
            <ion-avatar style="height: 130px;width: 130px;">
              <img [src]='aluno.avatar ? aluno.avatar : "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"' alt="Silhouette of a person's head" />
            </ion-avatar>
            <ion-card-header>
              <ion-card-title>{{aluno.nome}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Idade: {{aluno.idade}}</ion-card-title>
            <ion-card-title>Altura: {{aluno.altura}}</ion-card-title>
            <ion-card-title>Peso: {{aluno.peso}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
</div>
</div>
</ion-content>